.body {
    background-color: rgba(230,239,246,255);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    background-color: white;
    width: 50%;  
}

.cont {
    height: fit-content;
    width: 100%;

}

.upper-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3%;
    align-items: baseline;
}

.lower-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.left-container {
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(42,178,177,255);
    width: 50%;
    padding: 3%;
}

.right-container {
    color: aliceblue;
    padding: 3%;
    width: 50%;
    background-color: rgba(74,190,189,255);
}

.button {
    width: 100%;
    height: 5vh;
    border-radius: 5px;
    border: 0px;
    margin-top: 4%;
    background-color: rgba(191,223,50,255);
    color: white;
}

.dollar-price {
    font-size: 25px;
}

.heading {
    text-align: left;
    padding-bottom: 3%;
}

.demo-try {
    color: rgba(197,214,114,255);
    padding: 2% 0%;

}

.join {
    color: rgba(72,177,170,255);
}

.top-text {
    color: rgba(200,206,213,255);
}